.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.event-block{
  display: flex;
  position: absolute;
  flex-direction: column;
  float: left;
  border: 1px grey solid;
  left: 0;
  align-items: center;
  width: calc(100% - 2px);
  order: 1;
  border-radius: 5px;
  justify-content: center;
}

.event-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.event-column{
  position: relative;
  width: 100%;
  min-height: 10px;
}



.custom-alert{
  width: 80%;
  margin-left: 10%;
  position: absolute;
  z-index: 10;
  top: 0;
  padding: 20px;
  background-color: tomato;
  animation: 1s Custom-alert-fade;
}

@keyframes Custom-alert-fade {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}
